<app-header></app-header>

<div class="dashboard" *ngIf="Islogging">
  <div class="button-container">
    <button class="dashboard-button" (click)="startChat()">
      <img
        src="https://lirp.cdn-website.com/519d3ac1/dms3rep/multi/opt/chat-color-1920w.png"
        alt=""
        id="1014756893"
        class="button-icon"
        data-dm-image-path="https://irp.cdn-website.com/519d3ac1/dms3rep/multi/chat-color.png"
        onerror="handleImageLoadError(this)"
        style="object-fit: cover; width: 100%; height: 100%"
      />
      <span class="button-text">Chat</span>
    </button>
  </div>
</div>
